TestNotebook.ipynb
**/__pycache__/*
**/.ipynb_checkpoints/*
**/results/*
**/build/*
vit_interpretability_thesis.egg-info/*
configs/*
configs-mixed-neurons/*
images/*
images-mixed-neurons/*
job-reports/*
configs-by-block/*
images-by-block/*
configs-mixed-neurons-maco/*
configs-mixed-neurons-maco-multi/*
configs-mixed-neurons-multi/*
images-mixed-neurons-maco/*
notebooks/*.db
figures/*
fix_fuckups.py
configs-val-comp/*
images-val-comp/*