--extra-index-url https://download.pytorch.org/whl/cu121
matplotlib
numpy
opencv-python
jupyterlab
pandas == 1.5.2
seaborn
scipy

einops
scikit-learn
timm == 0.6.12
tqdm == 4.64.1
torch == 2.1.2+cu121
torchvision == 0.16.2+cu121
transformers == 4.26.0

torch-lucent @ git+https://github.com/SoulofAkuma/lucent-cluster

# for cluster use python -m pip install 